:root {
  --page-1-color: steelblue;
  --page-2-color: teal;
  --page-3-color: tan;
  --page-4-color: slateblue;
  --animation-speed: 1.5s;
}
/* Resets */
body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 1.3;
  color: #fff;
  line-height: 1.4;
  margin: 0;
  padding: 0;
  overflow: hidden;
}
img {
  border-radius: 10px;
}

h1 {
  font-family: cursive;
}
/* Page colors */
#page-1 {
  background: var(--page-1-color);
}
#page-2 {
  background: var(--page-2-color);
}
#page-3 {
  background: var(--page-3-color);
}
#page-4 {
  background: var(--page-4-color);
}
#page-5 {
  background: var(--page-1-color);
}
#page-6 {
  background: var(--page-1-color);
}
#page-7 {
  background: var(--page-2-color);
}
.page {
  display: flex;
  flex-direction: column;
  height: 100vh;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 0 4rem;
}

.page h1 {
  font-size: 4rem;
  line-height: 1.2;
  margin: 1rem;
}
.page p {
  font-size: 1.3rem;
}
.page a {
  display: inline-block;
  padding: 1rem 2rem;
  background: #f4f4f4;
  color: #333;
  text-decoration: none;
  border: none;
  margin-top: 1rem;
  font-size: 1.1rem;
  transition: all 0.5s ease-in;
}
.page a:hover,
.btn-dark {
  background: #333;
  color: #f4f4f4;
}
.btn-dark:hover {
  background: #f4f4f4;
  color: #333;
}
.left {
  display: flex;
  justify-content: center;
  align-items: center;
}

.left p {
  width: 70%;
  text-align: left;
  margin: 1rem;
}
.left ul {
  text-align: left;
  margin: 0.75rem;
  font-size: 1.5rem;
}

#page-5 .left {
  flex-direction: column;
  margin: 1rem;
}
#page-5 .left p {
  text-align: center;
}
#page-7 .page {
  padding: 0 1rem;
}
.all {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
}
figure {
  width: 20%;
  display: inline-block;
  height: auto;
  border-radius: 10px;
  background: #111;
  color: #fff;
}
figure img {
  width: 100%;
  min-height: 200px;
  max-height: 300px;
}
figcaption {
  text-align: center;
  color: #fff;
}
/* Page animation (page 1)*/
#page-1 h1 {
  transform: translateY(-1200px);
  animation: heading var(--animation-speed) forwards ease-in-out;
}
#page-1 .left {
  transform: translateX(-2000px);
  animation: text var(--animation-speed) forwards ease-in-out 1s;
}

@keyframes heading {
  to {
    transform: translateY(0);
  }
}

@keyframes text {
  to {
    transform: translateX(0);
  }
}
